.container{
    font-family: 'Space Grotesk';
    box-sizing: border-box;
    display: flex;
    width: 15vh;
    height: 15vh;
    z-index: 10;
}

.nav{
    width: 6vh;
    height: 6vh;
    background-color: white;
    border-radius: 50px;
    position: relative;
    transition: 0.4s ease;
    left: 30%;
    top:60%;
}

.toggleBox{
    width: 6vh;
    height: 6vh;
    border-radius: 50px;
    position: relative;
    display: block;
}

.icon{
    position: absolute;
    width: 3vh;
    height: 5%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #040404;
    border-radius: 20%;
}

.toggleBox.active .icon{
    width: 0;
}

.icon::before,.icon::after{
    position: absolute;
    content: '';
    width: 3vh;
    height: 100%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #040404;
    border-radius: 20%;
    transition: 0.3s;
}

.icon::before{
    top: 350%;
}

.icon::after{
    bottom: 250%;
}

.toggleBox.active .icon::before{
    width: 4vh;
    transform: translate(-50%,-350%) rotate(45deg);
}

.toggleBox.active .icon::after{
    width: 4vh;
    transform: translate(-50%,275%) rotate(-45deg);
}


.navItems{
    width: 100%;
    margin-top: 0%;
    padding-inline-start: 0px;
    visibility: hidden;
}

.nav.active .navItems{
    visibility: visible;
}

li{
    list-style: none;
}

li a{
    color:#040404;
}

li a i{
    position: relative;
    color: #040404;
    font-size: 1rem;
    padding: 1.1rem 0;
    width: 100%;
    text-align: center;
    transform: scale(0);
}

li a i::after{
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    height: 50%;
    width: 0;
    transform: translateY(-50%);
    background-color: #93bbce;
    border-radius: 8px 0 0 8px;
}

li:hover a i::after{
    width: 0.5vw;
    transition: 0.3s;
}

.nav.active .navItems li a i{
    transform: scale(1);
    transition: 0.4s ease;
    transition-delay: calc(0.08s * var(--i));
}

.nav.active .navItems li:hover a i{
    transition: 0.2s ease;
    color: #93bbce;
}

li a span{
    position: absolute;
    color: white;
    margin-top: 25%;
    font-weight: 500;
    letter-spacing: 2px;

}

.nav.active .navItems li a span{
    transform: translateX(1vw);
    transition: 0.4s ease;
    transition-delay: calc(0.08s * var(--g));
}

.nav.active .navItems li:hover a span{
    transform: translateX(2vw);
    transition: 0.2s ease;
    color: #a05557;
}

#overlay { 
    position: fixed;
    transition: 0.4s ease-in-out;
    top: 0 ;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    opacity: 0;
    z-index: 2;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}