{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/det.css') }}">
{% if current_user.role == 'admin' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navAdmin.css') }}">
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navUser.css') }}">
{% endif %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href='https://fonts.googleapis.com/css?family=Space Grotesk' rel='stylesheet'>
{% endblock %}


{% block body %}
{% include 'header.html' %}
<div class="ani">
    <p>&Delta;</p>
    <p>&Delta;</p>
    <p>&Delta;</p>
    <p>&Delta;</p>
    <p>&Delta;</p>
    <p>&Delta;</p>
    <p>&Delta;</p>
    <p>&Delta;</p>
    <p>&Delta;</p>
    <p>&Delta;</p>
    <p>&Delta;</p>
    <p>&Delta;</p>
    <p>&Delta;</p>
    <p>&Delta;</p>
</div>
<div class="contents">
    <div class="top">
        <div class="txt">
            <h1>Determinant</h1>
        </div>
        <div class="logout">
            <a href="/logout">
                <button class="button">Logout</button>
            </a>
        </div>
    </div>
    <div class="mrDet">
        <div class="msDet">
            <table id="one" class="matrix">
                <thead>
                    <tr>
                        <th colspan="3">Matrix</th>
                    </tr>
                </thead>
                <tbody>    
                    {% for row in matrix %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col">
                <h2>=</h2>
                <h3>{{ firstRow[0] }} &times;</h3>
            </div>
            <table id="two" class="twoMatrix">
                <thead>
                    <tr>
                        <th colspan="2">Det of</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in twoMone %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col">
                <h2>&minus;</h2>
                <h3>{{ firstRow[1] }} &times;</h3>
            </div>
            <table id="three" class="twoMatrix">
                <thead>
                    <tr>
                        <th colspan="2">Det of</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in twoMtwo %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col">
                <h2>+</h2>
                <h3>{{ firstRow[2] }} &times;</h3>
            </div>
            <table id="four" class="twoMatrix">
                <thead>
                    <tr>
                        <th colspan="2">Det of</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in twoMthree %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="msText">
            <h2>=</h2>
            <h3>{{ s1 }}</h3>
            <h2>&minus;</h2>
            <h3>{{ s2 }}</h3>
            <h2>+</h2>
            <h3>{{ s3 }}</h3>
            <h2>=</h2>
            <h3>{{ det }}</h3>
        </div>
    </div>
    <div class="re" id="multDetRe">
        <a href="/det">
            <button class="button">Reshuffle</button>
        </a>
    </div>
    <div>
        <h2>Try your own matrix:</h2>
    </div>
    <form action="/det" method="POST" class="inputForm">
        <div class="matricesInput">
            <table id="five" class="matrix">
                <thead>
                    <tr>
                        <th colspan="3">Matrix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in range(1,4) %}
                    <tr>
                        {% for c in range(1,4) %}
                        <td>
                            <input type="number" placeholder="M{{ c }}{{ r }}" name="M{{ c }}{{ r }}" id="M{{ c }}{{ r }}">
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="calc">
            <input type="submit" value="Calculate" class="button">
        </div>
    </form>
</div>

{% endblock %}