{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link href='https://fonts.googleapis.com/css?family=Space Grotesk' rel='stylesheet'>
{% endblock %}


{% block body %}
<div class="welcome">
    <h1>WELCOME TO THE MATRIX</h1>
</div>  

<div class="logcontents">
    <h1>WELCOME TO THE MATRIX</h1>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <input type="text" name="username" id="username" placeholder="USERNAME" required spellcheck="false">
        <input type="password" name="password" id="password" placeholder="PASSWORD" required spellcheck="false">
        <div class="row">
            <div class="button">
                <a href="/gotoSignUp">
                    <input type="button" value="SIGN UP">
                </a>
            </div>
            <div class="button">
                <input type="submit" value="SIGN IN">
            </div>
        </div>
    </form>
</div>


{% endblock %}