{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/operations.css') }}">
{% if current_user.role == 'admin' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navAdmin.css') }}">
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navUser.css') }}">
{% endif %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href='https://fonts.googleapis.com/css?family=Space Grotesk' rel='stylesheet'>
{% endblock %}


{% block body %}
{% include 'header.html' %}

<div class="ani">
    <i class="fa fa-xmark"></i>
    <i class="fa fa-xmark"></i>
    <i class="fa fa-xmark"></i>
    <i class="fa fa-xmark"></i>
    <i class="fa fa-xmark"></i>
    <i class="fa fa-xmark"></i>
    <i class="fa fa-xmark"></i>
    <i class="fa fa-xmark"></i>
    <i class="fa fa-xmark"></i>
    <i class="fa fa-xmark"></i>
    <i class="fa fa-xmark"></i>
    <i class="fa fa-xmark"></i>
    <i class="fa fa-xmark"></i>
    <i class="fa fa-xmark"></i>
</div>

<div class="contents">
    <div class="top">
        <div class="txt">
            <h1>Matrix Multiplication</h1>
        </div>
        <div class="logout">
            <a href="/logout">
                <button class="button">Logout</button>
            </a>
        </div>
    </div>
    <div id="mr">
        <div class="matricesShow">
            <table id="seven" class="matrix">
                <thead>
                    <tr>
                        <th colspan="3">Matrix 1</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in matrix1 %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col">
                <h2>&times;</h2>
            </div>
            <table id="eight" class="matrix">
                <thead>
                    <tr>
                        <th colspan="3">Matrix 2</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in matrix2 %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col">
                <h2>=</h2>
            </div>
            <table id="nine" class="matrix">
                <thead>
                    <tr>
                        <th colspan="3">Working</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in working %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col">
                <h2>=</h2>
            </div>
            <table id="ten" class="matrix">
                <thead>
                    <tr>
                        <th colspan="3">Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in result %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="re">
        <a href="/matrixMult">
            <button class="button">Reshuffle</button>
        </a>
    </div>
    <div>
        <h2>Try your own matrices:</h2>
    </div>
    <form action="/matrixMult" method="POST" class="inputForm">
        <div class="matricesInput">
            <table id="five" class="matrix">
                <thead>
                    <tr>
                        <th colspan="3">Matrix 1</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in range(1,4) %}
                    <tr>
                        {% for c in range(1,4) %}
                        <td>
                            <input type="number" placeholder="M{{ c }}{{ r }}" name="M{{ c }}{{ r }}" id="M{{ c }}{{ r }}">
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col">
                <h2>&times;</h2>
            </div>
            <table class="matrix" id="six">
                <thead>
                    <tr>
                        <th colspan="3">Matrix 2</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in range(1,4) %}
                    <tr>
                        {% for c in range(1,4) %}
                        <td>
                            <input type="number" name="N{{ c }}{{ r }}" id="N{{ c }}{{ r }}" placeholder="N{{ c }}{{ r }}">
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="calc">
            <input type="submit" value="Calculate" class="button">
        </div>
    </form>
</div>

{% endblock %}