{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/loginSignUp.css') }}">
<link href='https://fonts.googleapis.com/css?family=Space Grotesk' rel='stylesheet'>
{% endblock %}


{% block body %}

<div class="ani">
    <img src="static/css/logoBlue.png">
    <img src="static/css/logoRed.png">
    <img src="static/css/logoBlue.png">
    <img src="static/css/logoRed.png">
    <img src="static/css/logoRed.png">
    <img src="static/css/logoBlue.png">
    <img src="static/css/logoRed.png">
    <img src="static/css/logoBlue.png">
    <img src="static/css/logoBlue.png">
    <img src="static/css/logoRed.png">
</div>
<div class="header">
    <img src="static/css/logo.png">
</div>
<div id="fpd">
    <div class="logcontents" id="fp">
        <h1>Forgot Password</h1>
        <form action="/sendotp" method="POST">
            <input type="text" name="username" id="username" placeholder="USERNAME" required spellcheck="false">
            <div class="row">
                <div class="button">
                    <a href="/backlogin">
                        <input type="button" value="BACK">
                    </a>
                </div>
                <div class="button">
                    <input type="submit" value="SEND OTP">
                </div>
            </div>
        </form>
        
        {% if wrongUser %}
        <div class="error">
            <h3>Username Does Not Exist</h3>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}